* {
    font-family: sans-serif;
    font-size: 16px;
}

.navcontainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 64px;
    width: 100%;
}

.leftnav {
    display: inline-flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 24px;
}

.leftnav .colmar {
    display: inline-flex;
    color: gray;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.leftnav .academy {
    display: inline-flex;
    color: lightgray;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.rightnav {
    display: inline-flex;
    justify-content: flex-end;
    position: absolute;
    font-size: 2rem;
}