* {
    font-family: sans-serif;
    font-size: 16px;
}

.fixednav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.leftnav {
    display: inline-flex;
    flex-direction: row;
    padding-left: 24px;
}

.leftnav .colmar {
    display: inline-flex;
    color: gray;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.leftnav .academy {
    display: inline-flex;
    color: lightgray;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.rightnav {
    display: inline-flex;
    font-size: 2rem;
    padding-right: 24px;
}

.rightnav a {
    padding: 16px;
    color: gray;
    font-size: 1.5rem;
    text-decoration: none;
}

.rightnav li {
    list-style-type: none;
}

.learn {
    display: flex;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    color: hsl(0,0%,25%);
}

.banner {
    width: 60%;
    padding: 32px 24px;
}

.everyday {
    font-size: 2.5rem;
    font-weight: 600;
}

.lorem {
    font-size: 1.75rem;
}

.start {
    background-color: hsl(0,0%,25%);
    color: white;
    cursor: pointer;
    padding: 8px 120px;
    border: none;
    font-size: 1.25rem;
}

.practice {
    display: grid;
    background-color: white;
    width: 100%;
    color: hsl(0,0%,25%);
    grid-template-columns: 60% 40%;
    grid-auto-rows: auto;
}

.left {
    grid-row: 1 / 2;
}

.left img {
    padding: 32px 24px;
    width: 60%;
}

.practicing {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0px 0px 24px 24px;
}

.quote {
    font-size: 1.25rem;
    padding-top: 24px;
    padding-bottom: 32px;
}

.rightone {
    grid-row: 1 / 2;
    grid-column: 2 / 2;
}

.righttwo {
    grid-row: 2 / 3;
    grid-column: 2 / 2;
}

.rightthree {
    grid-row: 3 / 4;
    grid-column: 2 / 2;
}