* {
    font-family: sans-serif;
    font-size: 16px;
}

.fixednav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.leftnav {
    display: inline-flex;
    flex-direction: row;
    padding-left: 24px;
}

.leftnav .colmar {
    display: inline-flex;
    color: gray;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.leftnav .academy {
    display: inline-flex;
    color: lightgray;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.rightnav {
    display: inline-flex;
    font-size: 2rem;
    padding-right: 24px;
}

.rightnav a {
    padding: 16px;
    color: gray;
    font-size: 1.5rem;
    text-decoration: none;
}

.rightnav li {
    list-style-type: none;
}